 - FPSUsername and Jack Jasra for the black versions of the ship (https://steamcommunity.com/sharedfiles/filedetails/?id=829110599 and https://steamcommunity.com/sharedfiles/filedetails/?id=1218978303)
 - SingABrightSong and eLe for the tier 9 and tier 10 ship (https://steamcommunity.com/sharedfiles/filedetails/?id=729469608)
 - Frackin Universe for various scripts based on some of the Frackin Ship ones (all made by Hubnester) (https://steamcommunity.com/sharedfiles/filedetails/?id=729480149)
 - Sentient Cookie and Shinigami Apples for the invisible clothes icons (https://steamcommunity.com/sharedfiles/filedetails/?id=729480149)
 - Neb for the string splitting code used by the snugget colour changing system