{
	"unlocks" : {
		// the item used to detect if FU is installed
		"fuDetectionItem" : "fu_precursorspawner",
		// these get unlocked by default if you're a snugget and you don't have FU, but don't get unlocked if you do have  (include)
		"defaultRacial" : [
			{ "item" : "ironrevolver" },
			{ "item" : "ironassaultrifle" },
			{ "item" : "tungstenmagnum" },
			{ "item" : "tungstenshotgun" },
			{ "item" : "titaniummachinepistol" },
			{ "item" : "titaniumsniperrifle" },
			{ "item" : "durasteelrevolver" },
			{ "item" : "durasteelassaultrifle" },
			{ "item" : "aegisaltpistol" },
			{ "item" : "aegisaltbow" },
			{ "item" : "feroziumwand" },
			{ "item" : "feroziumstaff" },
			{ "item" : "violiumshortsword" },
			{ "item" : "violiumbroadsword" }
		],
		// these get unlocked by deafault if you are any race and don't have FU, but needs to be unlocked by research if you have FU (might change how this is handled if i don't change the unlock method later)
		"researchUnlocks" : {
			// NOTE: THE UNLOCKS ARE SET HERE AND IN THE RESEARCH TREE PATCHES
			"fu_craftsmanship" : {
				"HUBSNUGGETCOSMETICS" : {
					// these 2 are specifically referring to snuggets since i'm too lazy to make it work for any race when this system is likely temp anyways
					"defaultUnlock" : true,
					"raceLocked" : false,
					"unlocks" : ["hubsnuggetinvisback", "hubsnuggetinvishead", "hubsnuggetinvischest", "hubsnuggetinvislegs", "hubsnuggetholidayhat", "hubsnuggetraindeerhat", "hubsnuggetclassyhat", "hubsnuggetbowtie", "hubsnuggetwizardhat"]
				},
				"HUBSNUGGETPLAYERDYES" : {
					// these 2 are specifically referring to snuggets since i'm too lazy to make it work for any race when this system is likely temp anyways
					"defaultUnlock" : false,
					"raceLocked" : false,
					"unlocks" : ["hubsnuggetrgbhairdye", "hubsnuggetrgbsnuggetdye", "hubsnuggetrainbowsnuggetdye", "hubsnuggetplayerdyeremover"]
				}
			}
		}
	},
	"colors" : {
		// not currently used
	}
}